@font-face {
  font-family: "Worcester Serial";
  src: local("/fonts/Worcester Serial Bold"),
    local("/fonts/WorcesterSerialBold"),
    url("/fonts/WorcesterSerialBold.woff2") format("woff2"),
    url("/fonts/WorcesterSerialBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Worcester Serial";
  src: local("/fonts/Worcester Serial Heavy Italic"),
    local("/fonts/WorcesterSerialHeavyItalic"),
    url("/fonts/WorcesterSerialHeavyItalic.woff2") format("woff2"),
    url("/fonts/WorcesterSerialHeavyItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Worcester Serial";
  src: local("/fonts/Worcester Serial Heavy Regular"),
    local("/fonts/WorcesterSerialHeavyRegular"),
    url("/fonts/WorcesterSerialHeavyRegular.woff2") format("woff2"),
    url("/fonts/WorcesterSerialHeavyRegular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Worcester Serial";
  src: local("/fonts/Worcester Serial Heavy Italic"),
    local("/fonts/WorcesterSerialHeavyItalic"),
    url("/fonts/WorcesterSerialHeavyItalic.woff2") format("woff2"),
    url("/fonts/WorcesterSerialHeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Worcester Serial";
  src: local("/fonts/Worcester Serial Medium Italic"),
    local("/fonts/WorcesterSerialMediumItalic"),
    url("/fonts/WorcesterSerialMediumItalic.woff2") format("woff2"),
    url("/fonts/WorcesterSerialMediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Worcester Serial";
  src: local("/fonts/Worcester Serial Italic"),
    local("/fonts/WorcesterSerialItalic"),
    url("/fonts/WorcesterSerialItalic.woff2") format("woff2"),
    url("/fonts/WorcesterSerialItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Worcester Serial";
  src: local("/fonts/Worcester Serial Medium Regular"),
    local("/fonts/WorcesterSerialMediumRegular"),
    url("/fonts/WorcesterSerialMediumRegular.woff2") format("woff2"),
    url("/fonts/WorcesterSerialMediumRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Worcester Serial";
  src: local("/fonts/Worcester Serial Regular"),
    local("/fonts/WorcesterSerialRegular"),
    url("/fonts/WorcesterSerialRegular.woff2") format("woff2"),
    url("/fonts/WorcesterSerialRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "Worcester Serial Xbold";
  src: local("/fonts/Worcester Serial Xbold Regular"),
    local("/fonts/WorcesterSerialXboldRegular"),
    url("/fonts/WorcesterSerialXboldRegular.woff2") format("woff2"),
    url("/fonts/WorcesterSerialXboldRegular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Worcester Serial Xbold";
  src: local("/fonts/Worcester Serial Xbold Italic"),
    local("/fonts/WorcesterSerialXboldItalic"),
    url("/fonts/WorcesterSerialXboldItalic.woff2") format("woff2"),
    url("/fonts/WorcesterSerialXboldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
} */
